<style>
ul {
  list-style-type: none;
  display: flex;
}
li{
 margin: 5px;
}
</style>

<div id="NavBar">
  <div class="nav-bar-content content-boundary">
    <a class="nav-bar-button" href="https://yurith-rubio.github.io/services">Services</a>
    <a class="nav-bar-button" href="https://yurith-rubio.github.io/projects">Projects</a>
    <a class="nav-bar-button" href="https://yurith-rubio.github.io/yurith-says/">Blog</a>
    <a class="nav-bar-button" href="https://yurith-rubio.github.io/about">About</a>
    <a class="nav-bar-button" href="https://yurith-rubio.github.io/contact">Contact</a>
  </div>
</div>