@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{  
  --orange: #ff6000;
}

$text-color: #002e47;
$highlights: #9DCF75;
$light-green: #F0FFD9;
$bg-color: #002e47;
$accents: #fff;
$orange: #ff6000;
$link-color: #75dbdb;
$text-code: #75ff74;

body {
  background-color: #002e47;
  color: $light-green;
  font-family: 'Cousine', monospace;
  font-style: normal;
  line-height: 1.4;
  margin: 0;
}
h1, h2, a{
  color: $link-color;
}

a {
  text-decoration: none;
}
.post-index a{
  font-weight: bold;
}
.secondary-button{
  width: fit-content;
}
.post-widget-img{
  max-width: 40%;
}
.post-widget{
  max-width: 800px;
  border: 1px solid $light-green;
  display: flex;
  margin: 50px auto;
}
.post-widget-info{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
#PostsContainer{
  max-width: 800px;
  margin: 150px auto;
}
.posts-headline{
  text-align: center;
}
.post-hero-img-wrapper{
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
#Post{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.post-nav-wrapper{
  margin-right: 30px;
  text-align: right;
  margin-left: -250px;
}
.post-nav{
  display: flex;
  flex-direction: column;
}
.post-index{
  max-width: 200px;
}
.post-container{
  max-width: 700px;
  border: 1px solid $light-green;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.post-info{
  padding: 30px 50px 50px 50px;
}

/* Same as the website */
.content-boundary{
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

#NavBar{
  position: fixed;
  background-color: $bg-color;
  padding: 30px 0;
  width: 100%;
  z-index: 1;
  top: 0;
}

.nav-bar-content{
  display: flex;
  justify-content: end;
  gap: 50px;
  width: 100%;
}
.nav-bar-button{
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
  width: max-content;
  text-transform: uppercase;
  position: relative;
  background-color: $bg-color;
  color: $accents;
  border: 1px solid $accents;
}

.nav-bar-button:not(.active){
  cursor: pointer;
}

.nav-bar-button:before{
  border-left: 1px solid $light-green !important;
  height:43px;
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  display: flex;
}

code.language-plaintext.highlighter-rouge{
  font-weight: bold;
  color: $text-code;
  font-family: inherit;
}

.language-plaintext.highlighter-rouge .highlight{
  background-color: #061d30;
  border-radius: 3px;
  padding: 1px 15px;
  margin-top: 20px;
}

.highlight code{
  padding: 5px 10px;
  text-wrap: wrap;
}